body{
    margin: 0;
    width: 100%;
    font-size: 30px;
}
#first_block{
    width: 100%;
    background-color: #70a7df;
}
#second_block{
    width: 100%;
    background-color: #fac0f6;
}
#third_block{
    width: 70%;
    float: left;
    background-color: #bce68b;
}
#fourth_block{
    width: 30%;
    float: right;
    background-color: #93b071;
}
#cat1{
    width: 20%;
}
#cat2{
    width: 35%;
}