body{
    margin: 0;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
#first_block{
    width: 100%;
    background-color: #70a7df;
}
#second_block{
    width: 100%;
    background-color: #fac0f6;
    display: flex;
    justify-content: center;
}
#bottom_block{
    display: flex;
    flex-direction: row;
}
#third_block{
    width: 70%;
    background-color: #bce68b;
    display: flex;
    justify-content: center;
}
#fourth_block{
    width: 30%;
    background-color: #93b071;
}
#cat1{
    width: 20vh;
}
#cat2{
    width: 35vh;
}