#first_line{
    background-color: #868f8f;
    color: #F5DEC4;
}
#first_line :hover{
    background-color: #F5DEC4;
    color: #868f8f;
}
#second_line{
    background-color: #f5f586;
    color: #882ADB;
}
#second_line :hover{
    background-color: #882ADB;
    color: #f5f586;
}
#back_1{
    margin: 20px;
    background-color: #d6e3bc;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 200px;
    height: 400px;
    position: fixed;
}
#display_1{
    background-color: white;
    position: relative;
    border: 2px solid #000000;
    border-radius: 25px;
    width: 180px;
    height: 200px;
    left: 8px;
    top: 8px;
    font-size: 50px;
}
#time_1{
    width: 100px;
    height: 50px;
    text-align: center;
    position: relative;
    left: 30px;
    top: 75px;
}
.buttons_1{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
    background-color: black;
    position: relative;
}
#b_1_1, #b_4_1, #b_7_1 {
    left: 20px;
}
#b_2_1, #b_5_1, #b_8_1 {
    left: 80px;
}
#b_3_1, #b_6_1, #b_9_1 {
    left: 140px;
}
#back_2{
    margin: 20px;
    background-color: #d6e3bc;
    border-radius: 25px;
    border: 2px solid #000000;
    width: 200px;
    height: 400px;
    transform: translate(500px, 0);
}
#display_2{
    background-color: white;
    border: 2px solid #000000;
    border-radius: 25px;
    width: 180px;
    height: 200px;
    font-size: 50px;
    transform: translate(8px, 8px);
}
#time_2{
    width: 100px;
    height: 50px;
    text-align: center;
    transform: translate(30px, 75px);
}
.buttons_2{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
    background-color: black;
}

